.entete { background-color:#256D7B;
	height: 150px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	color:white;
	line-height: 8px;
	border: double;
}

#liste {
	line-height: 20px;
	font-size: 14px;
}

#pFooter{
	float: right;
}

h2 {
	color:#256D7B;
}

.leftSide { margin-left: 5%;
	float: left;
	height: auto;
	width: 50%;
	line-height: 4px;
}

.rightSide {  
	width: 30%;
	float: left;
	max-width: 30%;
	line-height: 4px;
	margin-right: 5%;
}
p{font-size: 16px;}

.footer { float: left;
	background-color:#256D7B;
	width: 90%;
	height: 50px;
	margin-left: 5%;
}

body {
  animation-duration: 3s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}